.cards {
  margin-top: 7rem;
  margin-left: 4.5rem;
}
.nav {
  position: sticky;
}

.container-react {
  background-color: rgb(230, 236, 236);
  text-align: left;
}
#heading-react {
  text-align: center;
}

.btn-react {
  margin-top: 1.5rem;
  margin-left: 0.3rem;
  width: 6rem;
}

#finance {
  margin-left: 3rem;
}

#footer {
  margin-bottom: 0rem;
}

.container-fortnite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.detail-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switch {
  margin-top: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  background-color: black;
  color: white;
}

.heading-about {
  color: green;
}

.names-about {
  color: red;
}

#container-error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
